<h1>Shorten URL</h1>
<div>
<%= form_with(model: [@user,@url]) do |f| %>
  <p><%= f.label :original %>:
  <%= f.text_field :original %>
  </p>
  <p>
  <%= f.submit 'Shorten It!' %>
  </p>
<% end %>
</div>
